/* Write your global styles here, in PostCSS syntax */

@tailwind base;
@tailwind components;
@tailwind utilities;

.pageTitle {
    @apply
    text-4xl
    text-slate-700
    text-center
    font-bold
    drop-shadow-lg
}

.navButton {
    @apply
    flex
    justify-center
    items-center
    text-xs
    sm:text-xl
    text-slate-700
    font-bold
    px-1
    sm:px-4
    hover:text-white
    duration-200
}

/*.devBorder {*/
/*    @apply*/
/*        border-2*/
/*        border-black*/
/*}*/

/*.routerBorder {*/
/*    @apply*/
/*    border*/
/*    border-orange-500*/
/*}*/

/*.dbr {*/
/*    @apply*/
/*    border*/
/*    border-red-600*/
/*}*/

.dbd {
    @apply
    absolute
    top-0
    left-0
    z-50
}

.routeContainer {
    @apply
    pt-10
}

.absRef {
    @apply
    absolute
    top-3
    left-3
}